/* Universal Style*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
}

body {
  min-width: 320px;
  max-width: 1280px;
  background-color: black;
  margin: 0 auto;
}

/* Header */
header {
  background-color: cornsilk;
  height: 6rem;
  font-size: 0;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#emblem {
  background-image: url("../images/avocado-emblem.jpg");
  background-size: cover;
  background-position: center;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
}

header h3 {
  display: inline-flex;
  font-family: 'Caveat', cursive;
  font-size: 3.25rem;
  color: rebeccapurple;
  font-weight: 400;
  padding-left: 1.5rem;
  padding-top: 0.25rem;
  vertical-align: top;
}

@media only screen and (max-width: 750px) {
  div#emblem {
    height: 50px;
    width: 50px;
  }
  header h3 {
    font-size: 2.17rem;
    padding-left: 1rem;
  }
}

header ul {
  display: flex;
  list-style: none;
  align-self: flex-end;
}

header li {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 450px) {
  header {
    height: 4rem;
  }
  div#emblem {
    height: 35px;
    width: 35px;
  }
  header h3 {
    font-size: 1.52rem;
    padding-left: 0.75rem;
    padding-top: 0.19rem;
  }
  header li {
    font-size: 0.8125rem;
  }
}

header li a {
  color: rebeccapurple;
  font-weight: 400;
  text-decoration: none;
}

header li a:hover {
  text-decoration: underline;
}

/* Team Section */
section#team {
  background-image: url("../images/rope-climb-resize.jpg");
  background-size: cover;
  padding: 1.5rem;
}

#team h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-style: oblique;
  color: white;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
  padding: 1.5rem;
}

.panel-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.panel {
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .panel {
    margin: 1.5rem;
  }
}

.panel img {
  width: 15rem;
  height: 18.87rem;
}

.panel h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  text-shadow: 3px 3px 2px black;
}

.panel h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  text-shadow: 3px 3px 2px black;
}

/* Footer */
footer {
  background-color: rebeccapurple;
  color: cornsilk;
  text-align: center;
  line-height: 2rem;
  padding: 1.5rem;
  font-size: 1.25rem;
}

@media only screen and (max-width: 450px) {
  footer {
    font-size: 1rem;
  }
}

footer #co-name {
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  font-weight: 600;
}